<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c87b81">  <td>20/03/24 20:34:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConsumerSimCardChange.LogintoCrm()[pri:1, instance:AutomationCases.ConsumerSimCardChange@754ba872]">LogintoCrm</td> 
  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>20/03/24 20:33:56</td>   <td>-11459</td> <td>&nbsp;</td><td title="&gt;&gt;ConsumerSimCardChange.SetUp()[pri:0, instance:AutomationCases.ConsumerSimCardChange@754ba872]">&gt;&gt;SetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>20/03/24 20:34:32</td>   <td>24527</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConsumerSimCardChange.SimCard()[pri:3, instance:AutomationCases.ConsumerSimCardChange@754ba872]">SimCard</td> 
  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>20/03/24 20:34:16</td>   <td>8906</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConsumerSimCardChange.SimCardV2()[pri:2, instance:AutomationCases.ConsumerSimCardChange@754ba872]">SimCardV2</td> 
  <td>main@2114650936</td>   <td></td> </tr>
</table>
