<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>AutomationCases.ConsumerMernisVerify</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SairIslem</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>YeniSorgulama</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LogintoCrm</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TcKimlikNo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MernisLink</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerificationComment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>InquiryCustomer</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>quitdriver</td>
<td>&nbsp;</td></tr>
<tr>
<td>AutomationCases.ConsumerLineActivation</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>RoadtoActivation3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>KampanyaGirisi</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>RoadtoActivation2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MakingActivation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SimCardSecimi</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>KullaniciGirisi</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>FaturaDonemi</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>PaketSecimi</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ServisGiris</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>RoadToActivation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VekilVasi</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>OdemeTipi</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LogintoCrm</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>OzellikGiris</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ClickActivation</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>quitdriver</td>
<td>&nbsp;</td></tr>
</table>
