<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c26598">  <td>19/07/03 15:59:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConsumerLineActivation.ClickActivation()[pri:2, instance:AutomationCases.ConsumerLineActivation@6e06451e]">ClickActivation</td> 
  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>19/07/03 16:00:27</td>   <td>64746</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConsumerLineActivation.FaturaDonemi()[pri:9, instance:AutomationCases.ConsumerLineActivation@6e06451e]">FaturaDonemi</td> 
  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>19/07/03 15:58:49</td>   <td>-32417</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConsumerMernisVerify.InquiryCustomer()[pri:3, instance:AutomationCases.ConsumerMernisVerify@77cd7a0]">InquiryCustomer</td> 
  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>19/07/03 16:00:38</td>   <td>76321</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConsumerLineActivation.KampanyaGirisi()[pri:10, instance:AutomationCases.ConsumerLineActivation@6e06451e]">KampanyaGirisi</td> 
  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>19/07/03 16:00:41</td>   <td>78726</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConsumerLineActivation.KullaniciGirisi()[pri:11, instance:AutomationCases.ConsumerLineActivation@6e06451e]">KullaniciGirisi</td> 
  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>19/07/03 15:58:40</td>   <td>-41448</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConsumerMernisVerify.LogintoCrm()[pri:1, instance:AutomationCases.ConsumerMernisVerify@77cd7a0]">LogintoCrm</td> 
  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>19/07/03 15:59:16</td>   <td>-6283</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConsumerLineActivation.LogintoCrm()[pri:1, instance:AutomationCases.ConsumerLineActivation@6e06451e]">LogintoCrm</td> 
  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>19/07/03 16:01:10</td>   <td>108409</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConsumerLineActivation.MakingActivation()[pri:15, instance:AutomationCases.ConsumerLineActivation@6e06451e]">MakingActivation</td> 
  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>19/07/03 15:58:55</td>   <td>-26925</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConsumerMernisVerify.MernisLink()[pri:5, instance:AutomationCases.ConsumerMernisVerify@77cd7a0]">MernisLink</td> 
  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>19/07/03 16:00:15</td>   <td>52985</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConsumerLineActivation.OdemeTipi()[pri:8, instance:AutomationCases.ConsumerLineActivation@6e06451e]">OdemeTipi</td> 
  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>19/07/03 16:00:56</td>   <td>93707</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConsumerLineActivation.OzellikGiris()[pri:13, instance:AutomationCases.ConsumerLineActivation@6e06451e]">OzellikGiris</td> 
  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>19/07/03 16:00:12</td>   <td>49779</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConsumerLineActivation.PaketSecimi()[pri:7, instance:AutomationCases.ConsumerLineActivation@6e06451e]">PaketSecimi</td> 
  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>19/07/03 15:59:25</td>   <td>2825</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConsumerLineActivation.RoadToActivation()[pri:3, instance:AutomationCases.ConsumerLineActivation@6e06451e]">RoadToActivation</td> 
  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>19/07/03 16:00:02</td>   <td>39818</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConsumerLineActivation.RoadtoActivation2()[pri:4, instance:AutomationCases.ConsumerLineActivation@6e06451e]">RoadtoActivation2</td> 
  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>19/07/03 16:00:05</td>   <td>43501</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConsumerLineActivation.RoadtoActivation3()[pri:5, instance:AutomationCases.ConsumerLineActivation@6e06451e]">RoadtoActivation3</td> 
  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>19/07/03 15:58:52</td>   <td>-30220</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConsumerMernisVerify.SairIslem()[pri:4, instance:AutomationCases.ConsumerMernisVerify@77cd7a0]">SairIslem</td> 
  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>19/07/03 16:00:59</td>   <td>97108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConsumerLineActivation.ServisGiris()[pri:14, instance:AutomationCases.ConsumerLineActivation@6e06451e]">ServisGiris</td> 
  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>19/07/03 15:58:30</td>   <td>-51965</td> <td>&nbsp;</td><td title="&gt;&gt;ConsumerMernisVerify.SetUp()[pri:0, instance:AutomationCases.ConsumerMernisVerify@77cd7a0]">&gt;&gt;SetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>19/07/03 15:59:06</td>   <td>-15408</td> <td>&nbsp;</td><td title="&gt;&gt;ConsumerLineActivation.SetUp()[pri:0, instance:AutomationCases.ConsumerLineActivation@6e06451e]">&gt;&gt;SetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>19/07/03 16:00:09</td>   <td>46914</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConsumerLineActivation.SimCardSecimi()[pri:6, instance:AutomationCases.ConsumerLineActivation@6e06451e]">SimCardSecimi</td> 
  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>19/07/03 15:58:58</td>   <td>-23493</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConsumerMernisVerify.TcKimlikNo()[pri:6, instance:AutomationCases.ConsumerMernisVerify@77cd7a0]">TcKimlikNo</td> 
  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>19/07/03 16:00:52</td>   <td>90201</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConsumerLineActivation.VekilVasi()[pri:12, instance:AutomationCases.ConsumerLineActivation@6e06451e]">VekilVasi</td> 
  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>19/07/03 15:59:04</td>   <td>-18324</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConsumerMernisVerify.VerificationComment()[pri:7, instance:AutomationCases.ConsumerMernisVerify@77cd7a0]">VerificationComment</td> 
  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>19/07/03 15:58:47</td>   <td>-35163</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConsumerMernisVerify.YeniSorgulama()[pri:2, instance:AutomationCases.ConsumerMernisVerify@77cd7a0]">YeniSorgulama</td> 
  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>19/07/03 15:59:06</td>   <td>-16107</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerMernisVerify.quitdriver()[pri:0, instance:AutomationCases.ConsumerMernisVerify@77cd7a0]">&lt;&lt;quitdriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@836514715</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>19/07/03 16:01:27</td>   <td>125584</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ConsumerLineActivation.quitdriver()[pri:0, instance:AutomationCases.ConsumerLineActivation@6e06451e]">&lt;&lt;quitdriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@836514715</td>   <td></td> </tr>
</table>
